doctype html
html
    head
        title Muse Settings

        // jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

        // Drag and drop list
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        script(src="http://rubaxa.github.io/Sortable/Sortable.js")

        // Save, refresh and onload functions
        script.
            window.onload = function() {
                // Create the sortable lists once the elements load
                Sortable.create(document.getElementById("visibleList"), {group: "opts"});
                Sortable.create(document.getElementById("hiddenList"), {group: "opts"});
            }

            // Reload all possible visualizers from server
            // Display new visualizers at end of enabled list
            function refresh() {

            }

            // Send new order of visualizer buttons to server
            function save() {
                // Get references to the two lists
                visibleList = document.getElementById("visibleList").childNodes;
                hiddenList = document.getElementById("hiddenList").childNodes;

                // Create list of visible ids and hidden ids
                visibleIds = [];
                hiddenIds = [];
                for (var i = 0; i < visibleList.length; i++) {
                    if (visibleList[i].id != "") {
                        visibleIds.push(visibleList[i].id);
                    }
                }
                for (var i = 0; i < hiddenList.length; i++) {
                    if (hiddenList[i].id != "") {
                        hiddenIds.push(hiddenList[i].id);
                    }
                }
                console.log("Visible Ids: " + visibleIds);
                console.log("Hidden Ids: " + hiddenIds);

                // Bundle both ID lists
                postData = {
                    "visibleIds": visibleIds,
                    "hiddenIds": hiddenIds
                }
                console.log(JSON.stringify(postData));

                // Post the lists to the server
                $.ajax({
                    url: "/",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(postData)
                });
            }
    body
        button(type="button", onclick="refresh") Refresh Visualizer

        div(id="listDiv", style="display: flex;")
            div(style="align-items: stretch; width: 50%; min-height: 100%; float:left;")
                p(style="text-align: center;") Display:
                div.list-group(id="visibleList", style="align-items: stretch; min-height: 100%;")
                    each id in visibleIds
                        div.list-group-item(id=visualizerData[id].directory_name)= visualizerData[id].display_name + ":" + visualizerData[id].directory_name
                    //- For each visualizer we have data on
                    each vis in visualizerData
                        -
                            var found = false;
                            for (var i = 0; i < hiddenIds.length; i++) {
                                if (vis.directory_name == hiddenIds[i]) {
                                    found = true;
                                    break;
                                }
                            }
                            for (var i = 0; i < visibleIds.length; i++) {
                                if (vis.directory_name == visibleIds[i]) {
                                    found = true;
                                    break;
                                }
                            }
                        //- If the above for loop does not find this ID in hiddenIds add it to this list
                        unless found
                            div.list-group-item(id=vis.directory_name)= vis.display_name + ":" + vis.directory_name


            div(style="align-items: stretch; width: 50%; min-height: 100%; float:right;")
                p(style="text-align: center;") Do Not Display:
                div.list-group(id="hiddenList", style="align-items: stretch; min-height: 100%;")
                    each id in hiddenIds
                        div.list-group-item(id=visualizerData[id].directory_name)= visualizerData[id].display_name + ":" + visualizerData[id].directory_name

        button(type="button", onclick="save()") Save
